.container-input {
  width: 90%;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
}

input {
  width: 280px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #595b63;
  color: #ededee;
  outline: none;
}

input::placeholder {
  color: #adafba;
}

input:focus {
  border: 2px solid #5195ea;
  box-shadow: 0px 0px 12px #1a429c;
}

label {
  color: #ededee;
}

span {
  display: none;
  color: #ff3131;
  font-size: 12px;
}

input:invalid[focused="true"] {
  border: 1px solid #ff3131;
  box-shadow: 0px 0px 5px #ff3131;
}

input:invalid[focused="true"] ~ span {
  display: block;
}
