* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.App {
  width: 100%;
  position: relative;
  background-image: linear-gradient(
      60deg,
      rgb(46, 57, 82),
      rgb(27, 42, 74) 50%,
      rgba(27, 42, 74) 30%,
      rgba(27, 42, 74) 30%,
      rgba(0, 0, 0, 0.3)
    ),
    url("./assets/forest.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10rem;
}

.content {
  width: 60%;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  width: 30%;
  margin-right: 15rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 30px;
  border: none;
  background-color: #5195ea;
  font-family: "Poppins", sans-serif;
  color: #ededee;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  box-shadow: 0px 0px 15px #1a429c;
  background-color: #62a3f3;
}

button:active {
  background-color: #7eb3f3;
}
